/* ** YÊU CẦU 3: 
Phần Navbar cho hai màn hình mobile và laptop */

@media screen and (max-width: 1170px) {
  #nav-bar .container .col:nth-child(3) {
    display: none;
  }
  .certi-item {
    min-height: 45vh !important;
  }

  @media screen and (min-width: 576px) {
    #nav-bar .container .col:nth-child(2) {
      border-right: 1px solid #6c757d !important;
    }
  }
  /* ================== DIGITAL CV =============== */
  .digital-body .contain-icon {
    display: grid;
  }

  .digital-body .contain-icon .digi-icon {
    width: fit-content;
    justify-self: center;
  }

  .row {
    padding-right: 0px;
  }

  #column-3 {
    margin-top: 20px;
  }
}
